HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Firebase Key ###
src/main/resources/serviceAccountKey.json

### Logging File ###
LOGGING_ROLLING_FILE_PATH_IS_UNDEFINED
LOGGING_ERROR_FILE_PATH_IS_UNDEFINED
idorm-rolling.log

### Not Useed
src/main/**/master

src/main/**/util